@model AuthorViewModel
@{
    ViewBag.Title = "New Author";
}

<a href="@Url.Action("Index", "Authors")" class="btn btn-outline-secondary">
    <i class="fas fa-arrow-left"></i> Back
</a>

<h2>New Author</h2>

<div class="col-md-6">
    <div class="card card-body bg-light">
        <form method="post" id="create-form">

            <div asp-validation-summary="ModelOnly"></div>

            <div class="form-group">
                <label asp-for="FirstName">First Name:</label>
                <input type="text" asp-for="FirstName" class="form-control" id="first-name" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="LastName">Last Name:</label>
                <input type="text" asp-for="LastName" class="form-control" id="last-name" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </form>
    </div>
</div>

@section scripts
{
    <partial name="_ValidationScriptsPartial" />

    <link href="~/lib/toastr.js/toastr.css" rel="stylesheet" />
    <script src="~/lib/toastr.js/toastr.min.js"></script>

    <script>
        $(function () {
            $("#create-form").submit(function (event) {
                let authorViewModel = {
                    firstName: $("#first-name").val(),
                    lastName: $("#last-name").val()
                };

                let authorViewModelJson = JSON.stringify(authorViewModel);
                $.ajax({
                    url: "/api/authors",
                    method: "POST",
                    data: authorViewModelJson,
                    dataType: "json",
                    contentType: "application/json",
                })
                    .done(function () {
                        toastr.success("Author successfully created");
                        authorViewModel = {};
                        $("#create-form").trigger('reset');
                    })
                    .fail(function () {
                        toastr.error("Something went wrong");
                    });
                event.preventDefault();
            })
        });
    </script>
}