@{
    ViewBag.Title = "Authors";
}

<h2>Authors</h2>

<p>
    @Html.ActionLink("New Author", "Create", "Authors", null, new { @class = "btn btn-primary" })
</p>

<table id="authors" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

@section scripts
{
    <link href="~/lib/datatables/css/dataTables.bootstrap4.css" rel="stylesheet" />
    <link href="~/lib/toastr.js/toastr.css" rel="stylesheet" />
    <script src="~/lib/datatables/js/jquery.dataTables.js"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap4.js"></script>
    <script src="~/lib/bootbox.js/bootbox.js"></script>
    <script src="~/lib/toastr.js/toastr.min.js"></script>

    <script>
        $(function () {
            let table;
            $.ajax("/api/authors/", {
                method: "GET"
            })
                .then(function (response) {
                    table = $("#authors").DataTable({
                        data: response,
                        columns: [
                            { data: "id" },
                            { data: "firstName" },
                            { data: "lastName" },
                            {
                                data: "id",
                                render: function (data) {
                                    return "<a class='btn btn-outline-secondary btn-sm' href='/authors/details/" + data + "'><i class='fas fa-search-plus'></i></a>   " +
                                        "<a class='btn btn-outline-secondary btn-sm' href='/authors/edit/" + data + "'><i class='fas fa-edit'></i></a>   " +
                                        "<button class='btn btn-outline-secondary btn-sm js-delete' data-author-id=" + data + "><i class='fas fa-trash'></i></button>";
                                }
                            }
                        ]
                    });
                })

            $("#authors").on("click", ".js-delete", function () {
                let button = $(this);
                bootbox.confirm({
                    message: "Are you sure you want to delete this author?",
                    buttons: {
                        confirm: {
                            label: "Yes",
                            className: "btn-danger"
                        },
                        cancel: {
                            label: "No"
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            $.ajax({
                                url: "/api/authors/" + button.attr("data-author-id"),
                                method: "DELETE",
                                success: function () {
                                    toastr.success("Author successfully deleted");
                                    table.row(button.parents("tr")).remove().draw();
                                },
                                error: function () {
                                    toastr.error("Something went wrong");
                                }
                            });
                        }
                    },
                    centerVertical: true
                });
            });
        });
    </script>
}